# Dependencies (ignores node_modules in root, client, and server)
**/node_modules/

# Environment Variables (ignores .env files anywhere)
**/.env

# Build Outputs
client/dist/
dist/

# Logs & System Files
*.log
.DS_Store